@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
      <h3>Add Event</h3>
    <form method="post">
        <input name="name" type ="text"/>
        <input type ="submit" value="Add Event"/>
    </form>
*@

<h3>Add Event</h3>
<form method="post">
    <label>Event Name</label>
    <input name="name" type ="text"/>
    <br>
    <label>Event Description</label>
    <input name="description" type="text"/>
    <input type ="submit" value="Add Event"/>
</form>



