@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>@ViewBag.title</h3>

<form method="post" action="/events/edit">
    <label>
        Event Name:
        <input name="name" type="text" value="@ViewBag.meeting.Name"/>
    </label>
    <label>
        Description:
        <input name="description" type="text" value="@ViewBag.meeting.Description"/>
    </label>
    <input type ="hidden" name="eventId" value="@ViewBag.meeting.Id"/>
    <input type="submit" value="Exit Event"/>

</form>